 [submodule "sources_my/a.vim"]
     path = sources_my/a.vim
     url = git://github.com/vim-scripts/a.vim.git
 [submodule "sources_my/OmniCppComplete"]
     path = sources_my/OmniCppComplete
     url = git://github.com/vim-scripts/OmniCppComplete.git
 [submodule "sources_my/vim-colors-solarized"]
     path = sources_my/vim-colors-solarized
     url = git://github.com/altercation/vim-colors-solarized.git
 [submodule "sources_my/DoxygenToolkit"]
     path = sources_my/DoxygenToolkit
     url = git@github.com:vim-scripts/DoxygenToolkit.vim.git
 [submodule "sources_my/comdg.vim"]
     path = sources_my/comdg.vim
     url = git@github.com:bbiao/comdg.vim.git
 [submodule "sources_my/vim-autocomplpop"]
     path = sources_my/vim-autocomplpop
     url = git@github.com:othree/vim-autocomplpop.git
 [submodule "sources_my/vimoutliner"]
     path = sources_my/vimoutliner
     url = git@github.com:vimoutliner/vimoutliner.git
